---

- name: Configure the Oracle APT key
  apt_key: url=https://www.virtualbox.org/download/oracle_vbox.asc state=present

- name: Virtualbox | Add repository
  apt_repository: repo='deb http://download.virtualbox.org/virtualbox/debian wily contrib' state=present

- name: Virtualbox | Add key
  apt_key: url='http://download.virtualbox.org/virtualbox/debian/oracle_vbox.asc' state=present

- name: Virtualbox | Install Virtualbox v5.0
  apt: name=virtualbox-5.0 state=installed force=yes

- name: Vagrant | Install Vagrant
  apt: name=vagrant state=installed force=yes
